<div class="page-content">
  <form>
    <mat-card class="form-card">
        <mat-card-title>
            Sign Up
        </mat-card-title>

        <mat-card-content>
            <div class="form-container">
                <mat-form-field>
                    <input autofocus matInput placeholder="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
            <div class="form-container">
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
            <div class="form-container">
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions>
          <button [disabled]="loading" (click)="onRegister()" mat-raised-button color="primary">Register</button>
        </mat-card-actions>

    </mat-card>
  </form>
</div>