<div class="page-content">
    <app-page-title [title]="product.name"></app-page-title>
    <app-page-description>
        <section>
            <div class="text">
                <p>
                    In RS3, gold is the currency that can get you whatever you need.
                    Gold is used by NPCs and players alike to buy and sell items in the game. 
                </p>
        
                <p>
                    The currency of RS3 allows you to purchase in-game equipment, supplies, cosmetics, tools, and every other tradable item.
                    RS3 gold is the tool you need to unlock your characters potential.
                </p>
            </div>
            <div class="image">
                <img src="assets/pictures/runescape-01.jpeg" alt="RS3">
            </div>
        </section>
    </app-page-description>

    <app-gold-form [products]="[product]"></app-gold-form>
</div>