<div class="terms-row">
  <h1 class="mat-display-2 text-center">Privacy Policy</h1>

  <h3 class="subheading-3">This Privacy Policy of YanliliGold.com spells out the obligations of the Users. </h3>
  
  <h4 class="subheading-4">1. Collection and Use of Personal Data</h4>
  <p>
    When you place an order on our site,you may be asked to enter your information:
  </p>
  <ul>
    <li>A: name</li>
    <li>B: Email address</li>
    <li>C: Chat Transcripts</li>
    <li>D: Phone number</li>
  </ul>
  <p>
    Although we would love to never ask your for any additional verification, we may ask for certain information to help verify your order and get your order approved or up limit.
  </p>
  
  
  <h4 class="subheading-4">2. How we use your information</h4>
  <p>
    Yanliligold.com uses this information is used to provide our services to the client in an efficient manner and verify your order and get your order approved or up limit.
  </p>
  <p>
    We also provide personally-identifiable online information in response to subpoenas and other legal demands and where we believe that disclosing this information is necessary to identify, contact or bring legal action against individuals who may be endangering public safety or interfering with yanliligold.com′s services,  or with our customers′ or others′ use of them.
  </p>


  <h4 class="subheading-4">3. Security</h4>
  <ul>
    <li>We use encryption, firewalls and other technology and security procedures to help protect the accuracy and security of your personal information and prevent unauthorized access or improper use.</li>
    <li>We will never sell your personal information for any reason.</li>
    <li>We will never vulnerability scanning and/or scanning to PCI standards.</li>
    <li>We won't share your information to other organizations for commercial purposes without your permission.</li>
  </ul>


  <h4 class="subheading-4">4. Cookies</h4>
  <p>When you visit Websites, your browser may automatically transmit information to these Websites throughout the visit.</p>
  <p>We use “cookies” and equivalent technologies to collect information through our Website.</p>
  <p>Cookies are small data files stored on your device that act as a unique tag to identify your browser.</p>
  <p>Our cookies do not, by themselves, contain Personal Information, and we do not combine the general information collected through cookies with other Personal Information to tell us who you are. As noted, however, we do use cookies to identify that your web browser has accessed aspects of the Services and may associate that information with your Account if you have one.</p>
  <p>Most browsers have an option for turning off the cookie feature, which will prevent your browser from accepting new cookies, as well as (depending on the sophistication of your browser software) allowing you to decide on acceptance of each new cookie in a variety of ways. We strongly recommend that you leave cookies active, because they enable you to take advantage of the most attractive features of the Services.</p>
  <p>This Privacy Policy covers our use of cookies only and does not cover the use of cookies by third parties. We do not control when or how third parties place cookies on your computer. For example, third party Websites/Apps to which a link points may set cookies on your computer.</p>



  <h4 class="subheading-4">5. Third-Party Websites</h4>
  <p>We use third-party web beacons from Google Analytics and other similar software, to help analyze where visitors go and what they do while visiting our website. Google Analytics may also use anonymous information about your visits to this and other websites in order to improve its products and services and provide advertisements about goods and services of interest to you.</p>



  <h4 class="subheading-4">6. Contact</h4>
  <p>All questions, comments and requests regarding this Privacy Notice should be addressed to <a target="_blank" href="mailto:yanliligold@gmail.com">yanliligold@gmail.com</a>.</p>

  
</div>