.text-center {
  text-align: center;
}

.subheading-3 {
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 4px;
}

.subheading-4 {
  font-weight: 500;
  margin-top: 14px;
  margin-bottom: 4px;
}
