<div class="terms-row">
    <h1 class="mat-display-2 text-center">Terms Of Service</h1>

    <h3 class="subheading-3">Please read our Terms of Service carefully.</h3>
    
    <ul>
        <li><a routerLink="/">YanliliGold.com</a> provides a platform for sale and purchase runescape gold and albion online silver</li>
        <li><a routerLink="/">YanliliGold.com</a> is registered at Room 101, No.59, Lijiao New Road Zhenxing District, Dandong, Liaoning China.</li>
        <li><a routerLink="/">YanliliGold.com</a> is a service provided by Crazy travel online game information (Dandong) Co., LTD. These Terms of Service constitute an agreement between you and Crazy travel online game information (Dandong) Co., LTD.</li>
    </ul>

    <p>
        By visiting or using <a routerLink="/">YanliliGold.com</a> or accessing our Services, including all associated features and functionalities, websites and user interfaces, as well as all content and software applications associated with our services, you agree to these Terms of Service (“Terms of Service”). If you do not want to agree to these Terms of Service, do not access or use the Site.
    </p>
    

    <h3 class="subheading-3">Changes to our Terms of Service</h3>
    <p>
        We may occasionally revise and update the Terms of Service. All changes are effective immediately when we post them, and apply to all access to and use of the Site and Services thereafter. Your continued use of the Site following the posting of revised Terms of Service means that you accept and agree to the changes.You are expected to check this page periodically so you are aware of any changes, as they are binding on you.
    </p>


    <h3 class="subheading-3">Using Our Services</h3>
    <h4 class="subheading-4">Account</h4>    
    <p>Using our Services may require you to create an account. If you choose, or are provided with, a user name, password, or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any other person or entity. You also acknowledge that your account is personal to you and agree not to provide any other person with access to this Site or portions of it using your  user name, password, or other security information. You agree to notify us immediately of any unauthorized access to or use of your user name or password or any other breach of security. You also agree to ensure that you exit from your account at the end of each session. You should use particular  caution when accessing your account from a public or shared computer so   that others are not able to view or record your password or other personal information.</p>
    <p>We have the right to disable any user name, password, or other identifier,    whether chosen by you or provided by us, at any time in our sole discretion for any or no reason, including if, in our opinion, you have violated any provision of these Terms of Service.</p>


    <h4 class="subheading-4">Good delivery</h4>    
    <p>After company receives payment from customer we establish fastest possible delivery to buyer using communication through live chat or Discord.If delivery could not be established within this time frame for any of sides fault, customer will receive full refund. When special cause customer and company can set longer delivery time frame with both parties agreement.</p>

    <h4 class="subheading-4">Goods sold on <a routerLink="/">YanliliGold.com</a></h4>    
    <p>Receive payment from us immediately after sold on <a routerLink="/">YanliliGold.com</a></p>
    <p>When getting paid Cryptocurrency (BTC/ETH/LTC), the value of the Cryptocurrency (BTC/ETH/LTC) when SENT will be the value that is paid to you.  PLEASE be aware that Cryptocurrency(BTC/ETH/LTC) values may change after they have been sent but before they are confirmed in your wallet.  We are not responsible for Cryptocurrency (BTC/ETH/LTC) market volatility.</p>

    <h3 class="subheading-3">Character Termination</h3>
    <p>By buying goods on <a routerLink="/">YanliliGold.com</a> you take all risks regarding your in game account/character. We do not take any responsability if customer account receives penalty for using our services. However this is not likely that will occur.</p>

    <h3 class="subheading-3">Additional Terms and Conditions</h3>
    <p>You are responsible for any fees, taxes or other costs associated with the purchase and delivery of your items resulting from charges imposed by your relationship with payment services providers or the duties and taxes imposed by your local customs officials or other regulatory body.</p>
</div>