$pink-logo: rgb(182, 69, 186);
$light-pink-logo: rgb(255, 137, 250);
$yellow-logo: rgb(255, 208, 0);
$yellow-logo-opacity: rgba(255, 208, 0, 0.3);

$primary: $pink-logo; // other suggestion: #E91E63
$secondary: #e1f5fe;
$dark-color: #823285;

$light-font: #fafafa;
$light-2-font: #e8e8e8;
$dark-font: rgba(0, 0, 0, 0.87);
$gray-font: rgba(0, 0, 0, 0.54);

$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
