<div class="page-content">
  <app-page-title title="Contact  US"></app-page-title>
  
  <section class="page-body">
    <section class="content-section reverse">
      <div class="image">
        <img src="assets/pictures/discord.png" alt="Discord" style="max-width: 200px;">
      </div>
      <div class="text">
        <h3>Discord</h3>

        <p>
          Runescape Discord server: 
              <a href="https://discord.gg/RdzKBX9" target="_blank">https://discord.gg/RdzKBX9</a>
        </p>
        <p>
          New world coins Discord server: 
              <a href="https://discord.gg/a7pPKVK3GN" target="_blank">https://discord.gg/a7pPKVK3GN</a>
        </p>

        <p><b>#1: Discord:</b> yanlili123#5068  (UID: 498771182368325632)</p>
        <p><b>#2: Discord:</b> YanLiLi#8888 (UID:578450167804461066)</p>
       
      </div>
    </section>


    <section class="content-section reverse">
      <!-- <div class="image">
        <img src="assets/pictures/discord.png" alt="Discord">
      </div> -->
      <div class="text">
        <h3>Others contacts</h3>

        <p>
          Facebook: <a href="https://www.facebook.com/yan.lili.9406" target="_blank">yan.lili.9406</a> <br>
          Whatsapp: <a href="https://api.whatsapp.com/send?phone=16262068322" target="_blank">+1 (626) 2068322</a> <br>
        </p>
      
        <p>
          Email: <a href="mailto:yanliligold@gmail.com" target="_blank">yanliligold@gmail.com</a> <br>
          Telephone: +86 14740543333
        </p>
    
        <p>
          Business Address: <br>
          Room 101, No.59, Lijiao New Road <br>
          Zhenxing District, Dandong, Liaoning China <br>
        </p>
    
        <p>
          Company: <br>
          Crazy travel online game information (Dandong) Co., LTD Chinese: 狂游网络游戏信息（丹东市）有限公司
        </p>
        <p>
          Registration Number:
          91210603MA0YU1768Y
        </p>
    
      </div>
    </section>
  </section>
</div>