@import "../../../assets/_scss/colors.scss";

.page-description-content {
  padding: 2em 20%;

  line-height: 1.4em;
}

.page-description-content {
  .gold-form-section {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;

    .image {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .page-description-content {
    section {
      grid-template-columns: 1fr;
    }
  }
}
