<div class="terms-row">
  <h1 class="mat-display-2 text-center">Refund Policy</h1>

  <p>Our Company always guarantee the safety of purchase from all customers and make sure the price is cheap and fair. Please order here with no concern.</p>

  <h3 class="subheading-3">The Policy of refund</h3>
  
  <ol>
    <li>The buyer could ask for the refund before the order was completed without any condition.</li>
    <li>We will fully refund the payment back to the buyer when order couldn't be completed in 24 hours.</li>
    <li>We won't perform refund in the situation of an order was completed.</li>
    <li>When getting paid in Bitcoin (BTC), the value of the Bitcoin (BTC) when SENT will be the value that is paid to you.  PLEASE be aware that Bitcoin (BTC) values may change after they have been sent but before they are confirmed in your wallet.  We are not responsible for Bitcoin (BTC) market volatility.</li>
  </ol>

  <h3 class="subheading-3">Resolution of order with issues</h3>
  <p>Because of the wrong information filling by the customer which cause the delay of the delivery, we will contact the customer by email in the first time to help them to correct the information. We will try to email customer while they filled out the order in 8 hours and 12 hours again after the first email sent.</p>


  <h3 class="subheading-3">Resolution of shortage in the stock</h3>
  <p>For the orders those couldn't be completed in time due to the shortage of the stock, we will offer options to help customers to resolve it. And we will refund the money to customers immediately who don't want to wait, but if you can wait a while, we will try our best to restock as soon as possible.</p>


  <h3 class="subheading-3">Resolution of other problems</h3>
  <p>Please contact us at Live Chat or email to <a target="_blank" href="mailto:yanliligold@gmail.com">yanliligold@gmail.com</a> if order couldn't be completed in time by any specific circumstance.</p>

</div>