<div class="page-content">
  <app-page-title title="About US"></app-page-title>
  
  <section class="page-body">
    <p class="first-briefing">
      Welcome to <a href="yanliligold.com">YanliliGold.com</a>! We are a digital goods company based in China. 
    </p>

    <section class="content-section reverse">
      <div class="image">
        <img src="assets/pictures/runescape-01.jpeg" alt="Runescape">
      </div>
      <div class="text">
        <h3>Who are we?</h3>
        <p>
          We have been in this business for more than 2 years now.
          We go that extra mile to make sure our customers enjoy the best service.
        </p>
        
        <p>
          Our main goal is fast take large quantity per transfer save the seller more time. Time is money. We offer the best price for buyer in the market and delivery on high level account.
          We have a strong customer support team available 24/7. Any question will be conducted within minutes.
        </p>
      </div>
    </section>

    <section class="content-section ">
      <div class="image">
        <img src="assets/pictures/new-world-01.jpg" alt="New world">
      </div>
      <div class="text">
        <h3>Why buy at <a href="yanliligold.com">YanliliGold.com</a>?</h3>
        <p>
          Never use 3 level account for trade, trade account level 39+ and train by hand.
          We have a strong customer support team available 24/7. Any question will be conducted within minutes.
          We go that extra mile to make sure our customers are receiving the most lowest prices of sale.
        </p>
        
        <p>
          We have been in business for over 2 years and have accumulated an outstanding reputation:
        </p>

        <div class="link-list">
          <p>
            <a mat-button target="_blank" href="https://www.sythe.org/threads/yanliligolds-vouches/">
              Sythe (4500+ Vouches)
            </a>
          </p>
          <p>
            <a mat-button target="_blank" href="https://www.sythe.org/members/yanlili.1285062/">
              Sythe ($1000+ Donor)
            </a>
          </p>
          <p>
            <a mat-button target="_blank" href="https://www.trustpilot.com/review/yanliligold.com">
              Trustpilot (Excellent Reviews)
            </a>
          </p>
        </div>
      </div>
    </section>

    <section class="content-section reverse">
      <div class="image">
        <img src="assets/pictures/runescape-03.jpeg" alt="Runescape">
      </div>
      <div class="text">
        <h3>Why sell at <a href="yanliligold.com">YanliliGold.com</a>?</h3>
        <p>
          Never use 3 level account for trade, trade account level 39+ and train by hand.
          We have a strong customer support team available 24/7. Any question will be conducted within minutes.
          We go that extra mile to make sure our customers are receiving the most lowest prices of sale.
        </p>
        
        <p>
          We have been in business for over 2 years and have accumulated an outstanding reputation. 
        </p>

        <div class="link-list">
          <p>
            <a mat-button target="_blank" href="https://www.sythe.org/threads/yanliligolds-vouches/">
              Sythe (4500+ Vouches)
            </a>
          </p>
          <p>
            <a mat-button target="_blank" href="https://www.sythe.org/members/yanlili.1285062/">
              Sythe ($1000+ Donor)
            </a>
          </p>
          <p>
            <a mat-button target="_blank" href="https://www.trustpilot.com/review/yanliligold.com">
              Trustpilot (Excellent Reviews)
            </a>
          </p>
        </div>
      </div>
    </section>
  </section>
</div>